$text-color: #e3e3e3 !default;
$background-color: #121212 !default;
$brand-color: #fff !default;

$grey-color: #c8c8c8 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
